#site-navigation {
	@include clearfix;
	
	h1 {
		display: none;
	}
	
	.skip-link {
		display: none;
	}
	
	ul.menu {
    padding-left: 0;
    list-style: none;
    
		li {
			position: relative;
			display: block;
			float: left;
			padding: 5px;
		}
	}
}